In [1]:
text = "For example, Pune Circle — which comprises three divisions in Pune and Solapur district — had planned to plant 17 lakh saplings on forest land. However, it may not meet the target due to unavailability of funds."

In [4]:
import nltk
import pandas as pd
import numpy as np

In [5]:
sentences = nltk.sent_tokenize(text)

In [7]:
wordTokenizer = nltk.RegexpTokenizer("[\w']+")

In [8]:
corpusLength = len(sentences)

In [17]:
uniqueWords = set()
for sent in sentences:
    group = wordTokenizer.tokenize(sent)
    for word in group:
        uniqueWords.add(word)

In [20]:
uniqueLength = len(uniqueWords)

In [21]:
tf = pd.DataFrame(np.zeros((corpusLength,uniqueLength)),columns=uniqueWords)

In [28]:
for i,sent in enumerate(sentences):
    words = wordTokenizer.tokenize(sent)
    wordLen = len(words)
    for word in words:
        tf[word][i] += (1/wordLen)

In [31]:
idf = {}
splitSent = wordTokenizer.tokenize_sents(sentences)
for word in uniqueWords:
    count = 0
    for split in splitSent:
        if word in split:
            count += 1
    idf[word] = np.log10(corpusLength/count)
idf

{'may': 0.3010299956639812,
 'to': 0.0,
 'forest': 0.3010299956639812,
 'saplings': 0.3010299956639812,
 'the': 0.3010299956639812,
 'Circle': 0.3010299956639812,
 'lakh': 0.3010299956639812,
 'funds': 0.3010299956639812,
 'and': 0.3010299956639812,
 'Solapur': 0.3010299956639812,
 'due': 0.3010299956639812,
 'meet': 0.3010299956639812,
 '17': 0.3010299956639812,
 'comprises': 0.3010299956639812,
 'unavailability': 0.3010299956639812,
 'district': 0.3010299956639812,
 'land': 0.3010299956639812,
 'target': 0.3010299956639812,
 'in': 0.3010299956639812,
 'not': 0.3010299956639812,
 'on': 0.3010299956639812,
 'it': 0.3010299956639812,
 'three': 0.3010299956639812,
 'divisions': 0.3010299956639812,
 'For': 0.3010299956639812,
 'example': 0.3010299956639812,
 'Pune': 0.3010299956639812,
 'had': 0.3010299956639812,
 'of': 0.3010299956639812,
 'However': 0.3010299956639812,
 'plant': 0.3010299956639812,
 'planned': 0.3010299956639812,
 'which': 0.3010299956639812}

In [35]:
tf_idf = tf.copy()
for i,sent in enumerate(sentences):
    words = wordTokenizer.tokenize(sent)
    for word in words:
        tf_idf.at[i,word] = tf.at[i,word] * idf[word]
tf

,may,to,forest,saplings,the,Circle,lakh,funds,and,Solapur,...,divisions,For,example,Pune,had,of,However,plant,planned,which
0,0.000000,0.043478,0.043478,0.043478,0.000000,0.043478,0.043478,0.000000,0.043478,0.043478,...,0.043478,0.043478,0.043478,0.086957,0.043478,0.000000,0.000000,0.043478,0.043478,0.043478
1,0.083333,0.083333,0.000000,0.000000,0.083333,0.000000,0.000000,0.083333,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.083333,0.083333,0.000000,0.000000,0.000000

In [36]:
tf_idf

,may,to,forest,saplings,the,Circle,lakh,funds,and,Solapur,...,divisions,For,example,Pune,had,of,However,plant,planned,which
0,0.000000,0.0,0.013088,0.013088,0.000000,0.013088,0.013088,0.000000,0.013088,0.013088,...,0.013088,0.013088,0.013088,0.026177,0.013088,0.000000,0.000000,0.013088,0.013088,0.013088
1,0.025086,0.0,0.000000,0.000000,0.025086,0.000000,0.000000,0.025086,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.025086,0.025086,0.000000,0.000000,0.000000